#outer {
    position: absolute;
    left: 20%;
    right: 0;
    width: 90px;
    height: 30px;
    margin: 10px;
  }
  
#inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('http://192.249.18.153/static/star.png');
    background-repeat: repeat;  
    z-index: 5;
  }
  
  #overlay {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
  }

  #ProgressBar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 25px; 
    font-size:18px;
    }
    #Progress {
    position: absolute;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 25px; 
    } 